// ----------------------------------------------------
:root, page {
  background-color: #f3f2f2;
  --nutui-color-primary: #1772F6;
  --nutui-color-primary-stop-1: #1772F6;
  --nutui-color-primary-stop-2: #1772F6;
  --nutui-color-primary-pressed: #4590f6;
  --nutui-color-primary-icon: #1772F6;
}
view, text, image {
  border-width: 0;
}
.nut-form-item-label-right {
  align-items: center;
}
.nut-cell-group-title {
  margin-top: 20px !important;
}
